* {
  font-family: 'Roboto Mono', monospace;
}

body, html{
  background: rgb(187,135,233);
  background: linear-gradient(180deg, rgba(187,135,233,1) 0%, rgba(59,121,230,1) 100%);
  color:white;
  text-align:center;
  height: 100%;
  margin: 0;
}

h1{
  padding: 25px;
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}

h2{
  padding: 25px;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
}


.bouton{
  margin: 70px;
}

.facile{
  font-size: 40px;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 15px;
  transition: background-color 1s;
  box-shadow: 1px 1px 2px black;
}

.facile:hover{
  color: white;
  background-color: rgb(36, 198, 36);
}

.difficile{
  font-size: 40px;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 15px;
  transition: background-color 1s;
  box-shadow: 1px 1px 2px black;
}

.difficile:hover{
  color: white;
  background-color: #E42B11;
}

.result{
align-items: center;}

.suite{
  padding: 10px;
  font-size: 50px;
  text-shadow: 1px 1px 2px black;
}

.validation {
  color: white;
  border:none;
  background-color: rgb(152, 71, 227);
  font-size: 22px;
  box-shadow: 1px 1px 1px black;
}

.validation:hover{
  color: white;
  background-color: rgb(103, 32, 170);
}